RTL/tb/tb_sauria_top/*.txt
Python/sauria-env
Python/env
__pycache__
obj_dir
Test-Sim
*.log
*.vcd
settings.json
nc.*
.simvision
waves.shm
xcelium.d
xrun.key
AN.DB
simv.daidir
work.lib++
verdi_config_file
*.txt
*.npy