[submodule "pulp_platform/axi"]
	path = pulp_platform/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "pulp_platform/common_cells"]
	path = pulp_platform/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "pulp_platform/common_verification"]
	path = pulp_platform/common_verification
	url = https://github.com/pulp-platform/common_verification.git
[submodule "pulp_platform/fpnew"]
	path = pulp_platform/fpnew
	url = https://github.com/openhwgroup/cvfpu.git
[submodule "tools/verilator"]
	path = tools/verilator
	url = https://github.com/verilator/verilator.git
[submodule "RTL/src/dma/redma"]
	path = RTL/src/dma/redma
	url = https://github.com/bsc-loca/redma
